{% load static %}
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!-- search form -->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header" style="color: white">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Category</span> <i
                            class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/category/index"><i class="fa fa-circle-o"></i> All Category</a></li>
                        <li class="active"><a href="/category/create"><i class="fa fa-circle-o"></i> Add New Category</a></li>
                    </ul>
                </li><li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Product</span> <i
                            class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/product/index"><i class="fa fa-circle-o"></i> All Product</a></li>
                        <li class="active"><a href="/product/create"><i class="fa fa-circle-o"></i> Add New Product</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
