{% extends "index.html" %}
{% load tz %}
{% load static %}

{% block content %}
<section class="content">
    <div class="row">
        <section class="col-lg-12 connectedSortable">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-list"></i>
                    <h3 class="box-title">Teacher List</h3>
                    <a href="{% url 'teacher_show' %}" class="btn btn-success pull-right">
                        <i class="fa fa-plus"></i> New Teacher
                    </a>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 50px;">Nº</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Date of Birth</th>
                                <th>Salary</th>
                                <th>Major</th>
                                <th>Photo</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Updated By</th>
                                <th>Updated At</th>
                                <th style="width: 180px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                                <tr>
{#                                    <td>{{ forloop.counter }}</td>#}
                                    <td>tec_{{ teacher.id|stringformat:"04d" }}</td>
                                    <td>{{ teacher.firstName }}</td>
                                    <td>{{ teacher.lastName }}</td>
                                    <td>{{ teacher.get_gender_display }}</td>
                                    <td>{{ teacher.dateOfBirth }}</td>
                                    <td>${{ teacher.salary }}</td>
                                    <td>
                                        {% if teacher.major %}
                                            {{ teacher.major.SubjectName }}
                                        {% else %}
                                            No Major
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if teacher.photo %}
                                            <img src="{{ teacher.photo.url }}" width="50" height="50" alt="Teacher photo" style="object-fit: cover">
                                        {% else %}
                                            <span>No Image</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <small>{{ teacher.createAt|localtime|date:"M d, Y" }}</small><br>
                                        <small class="text-muted">{{ teacher.createAt|localtime|time:"h:i A" }}</small>

                                    </td>
                                    <td>
                                        <small>{{ teacher.updateAt|localtime|date:"M d, Y" }}</small><br>
                                        <small class="text-muted">{{ teacher.updateAt|localtime|time:"h:i A"  }}</small>

                                    </td>
                                    <td>
                                        {% if teacher.createBy %}
                                            {{ teacher.createBy.username }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if teacher.updateBy %}
                                            {{ teacher.updateBy.username }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>

                                    <td>
                                        <a href="{% url 'teacher_edit' teacher.id %}" class="btn btn-xs btn-primary">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                        <a href="#"
                                           class="btn btn-xs btn-danger btn-delete"
                                           data-url="{% url 'teacher_delete' teacher.id %}">
                                           <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="11" class="text-center">No teachers found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const deleteButtons = document.querySelectorAll(".btn-delete");
    deleteButtons.forEach(button => {
        button.addEventListener("click", function (e) {
            e.preventDefault();
            const url = this.getAttribute("data-url");

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        });
    });
});
</script>

{% endblock content %}